{% extends 'base_front.html.twig' %}

{% block title %}Register{% endblock %}

    {% block body %}
        {% form_theme registrationForm 'form_table_layout.html.twig' %}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="w-full max-w-2xl p-6 m-auto bg-white rounded-md shadow-md dark:bg-gray-800 my-8">
            <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white">Inscription</h1>

            <div class="flex items-center justify-center mt-4">
                <span class="w-1/4 border-b dark:border-gray-500"></span>
            </div>

            {{ form_start(registrationForm) }}

            <div class="grid grid-cols-2 gap-6 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="username">Prénom</label>
                    {{ form_widget(registrationForm.firstname , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    <p>{{ form_errors(registrationForm.firstname) }}</p>
                </div>

                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Nom</label>
                    {{ form_widget(registrationForm.lastname , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(registrationForm.lastname) }}

                </div>

                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="password">Date de naissance</label>
                    {{ form_widget(registrationForm.birthdate , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(registrationForm.birthdate) }}

                </div>

                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="passwordConfirmation">Adresse</label>
                    {{ form_widget(registrationForm.address , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(registrationForm.address) }}

                </div>
            </div>

            <div class="mt-4">
                <label class="text-gray-700 dark:text-gray-200" for="username">Email</label>
                {{ form_widget(registrationForm.email , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                {{ form_errors(registrationForm.email) }}

            </div>

            <div class="mt-4">
                {{ form_widget(registrationForm.plainPassword ) }}
                {{ form_errors(registrationForm.plainPassword) }}

            </div>

            <div class="mt-4">
                <label class="text-gray-700 dark:text-gray-200 pr-3" for="username">J'accepte les termes</label>
                {{ form_widget(registrationForm.agreeTerms , {'attr':
                    {'class': ''}} ) }}
                {{ form_errors(registrationForm.agreeTerms) }}

            </div>

            {# Submit button #}
            {{ form_widget(registrationForm.save, { 'label': 'M\'inscrire' }) }}

            {{ form_end(registrationForm) }}

            <div class="flex items-center justify-between mt-4">
                <span class="w-full border-b dark:border-gray-500"></span>
            </div>

            <p class="mt-8 text-xs font-light text-center text-gray-400"> Vous avez déjà un compte?<a
                        href="{{ path('app_login') }}"
                        class="font-medium text-gray-700 dark:text-gray-200 hover:underline"> Connectez-vous ici</a></p>
        </div>


    {% endblock %}
