{% extends 'base_back.html.twig' %}

{% block body %}

    <div class="p-10">

        <h1 class="font-bold text-3xl text-slate-800 mb-4">Gestion des service de la morgue</h1>

        <h2 class="font-medium text-2xl text-slate-800 my-4">Liens en cours 🚧</h2>

        <ul>

        </ul>

        <h2 class="font-medium text-2xl text-slate-800 my-4" >Liens à faire ❌</h2>

        <h3 class="font-light text-lg text-blue-900 ml-2 my-2">Service dans la DB Thanatos</h3>

        <ul>

        </ul>

        <h3 class="font-light text-lg text-blue-900 ml-2 my-2">Service auquels votre compagnie s'engage à fournir</h3>

        <ul>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="#">Gérer les METERIALS que peut offrir la company</a>
            </li>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="#">Gérer les EXTRAS que peut offrir la company</a>
            </li>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="#">Gérer les PAINTING que peut offrir la company</a>
            </li>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="#">Gérer les THEMES souscrits auprès de Thanatos</a>
            </li>
        </ul>

        <h2 class="font-medium text-2xl text-slate-800 my-4">Liens faits 👍 </h2>

        <h3 class="font-light text-lg text-blue-900 ml-2 my-2">Service dans la DB Thanatos</h3>

        <ul>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="{{ path("view_burials") }}">Gérer les Burials</a>
            </li>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="{{ path("view_materials") }}">Gérer les MATERIAUX</a>
            </li>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="{{ path("view_paintings") }}">Gérer les PAINTING</a>
            </li>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="{{ path("view_extras") }}">Gérer les EXTRAS</a>
            </li>
        </ul>

        <h3 class="font-light text-lg text-blue-900 ml-2 my-2">Service auquels votre compagnie s'engage à fournir</h3>

        <ul>
            <li class="text-lg text-slate-800 ml-5 my-2 hover:underline hover:text-purple-800">
                <a href="{{ path("view_models") }}">Gérer les Modèles de burials</a>
            </li>
        </ul>

    </div>

{% endblock %}
