{% if app.user %}

        <nav class="bg-white shadow white:bg-gray-800">
            <div class="container px-6 py-4 mx-auto">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex items-center justify-between">
                        <img class="h-12"  src="{{ asset("images/logo-thanatos.svg") }}"  >
                        <div class="text-xl font-semibold text-gray-700">
                            <a class="text-2xl font-bold text-gray-800 transition-colors duration-200 transform white:text-white lg:text-3xl hover:text-gray-700 white:hover:text-gray-300" href="{{ path('homepage')}}">Thanatos</a>
                        </div>

                        <!-- Mobile menu button -->
                        <div class="flex md:hidden">
                            <button type="button" class="text-gray-500 white:text-gray-200 hover:text-gray-600 white:hover:text-gray-400 focus:outline-none focus:text-gray-600 white:focus:text-gray-400" aria-label="toggle menu">
                                <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->

                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                    {% elseif is_granted('ROLE_ADMIN') %}
                        {{ include('components/navBar/RoleNav/AdminNavSide.html.twig') }}
                    {% elseif is_granted('ROLE_DRIVER') %}
                        {{ include('components/navBar/RoleNav/DriverNavSide.html.twig') }}
                    {% elseif is_granted('ROLE_COMPANY') %}
                        {{ include('components/navBar/RoleNav/CompanyNavSide.html.twig') }}
                    {% elseif is_granted('ROLE_USER') %}
                        {{ include('components/navBar/RoleNav/UserNavSide.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </nav>
{% else %}
    <nav class="bg-white shadow white:bg-gray-800">
        <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
            <div class="flex items-center justify-between" >
                <img class="h-12"  src="{{ asset("images/logo-thanatos.svg") }}"  >
                <div >
                    <a class="text-2xl font-bold text-gray-800 transition-colors duration-200 transform white:text-white lg:text-3xl hover:text-gray-700 white:hover:text-gray-300" href="{{ path('homepage') }}">Thanatos</a>
                </div>
                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button type="button" class="text-gray-500 white:text-gray-200 hover:text-gray-600 white:hover:text-gray-400 focus:outline-none focus:text-gray-600 white:focus:text-gray-400" aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="items-center md:flex">
                <div class="flex flex-col md:flex-row md:mx-6">
                    <a class="my-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform white:text-gray-200 hover:text-blue-500 white:hover:text-blue-400 md:mx-4 md:my-0" href="{{ path('homepage') }}">Accueil</a>
                    <a class="my-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform white:text-gray-200 hover:text-blue-500 white:hover:text-blue-400 md:mx-4 md:my-0" href="{{ path('about') }}">A propos</a>
                    <a class="my-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform white:text-gray-200 hover:text-blue-500 white:hover:text-blue-400 md:mx-4 md:my-0" href="{{ path('contact') }}">Contact</a>
                </div>

                <div class="flex items-center py-2 -mx-1 md:mx-0">
                    <button class="block w-1/2 px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform bg-gray-500 rounded-md hover:bg-blue-600 md:mx-2 md:w-auto" type="button" data-modal-toggle="loginModal">
                        Connextion
                    </button>
                    {{ include('/components/modalLogin.html.twig') }}

                    <button class="block w-1/2 px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-600 transform bg-blue-500 rounded-md hover:bg-blue-600 md:mx-0 md:w-auto" type="button" data-modal-toggle="defaultModal">
                        Inscription
                    </button>
                    {{ include('/components/modalregister.html.twig') }}
                </div>
            </div>
        </div>
    </nav>
{% endif %}


