{% extends 'base_front.html.twig' %}


{% block body %}
    <div class="grid place-content-center place-items-center">

        <h1 class="text-4xl m-3 mb-5 ">Selection d'une pompe funèbre </h1>
        <h2 class="text-xl mt-4 text-stone-500 mb-5">Total de pompe funèbre <span
                    class="text-blue-600	">{{ pagination.getTotalItemCount }}</span></h2>
        <div class="grid grid-cols-4 gap-3">

            {% for company in pagination %}
                <a href="{{ path('user_order_product', {corpse: corpse.id , company: company.id}) }}">
                    <div>
                        <img class="object-cover w-full h-64 rounded-lg h-36 mb-2"
                             src="  {{ company.media ? vich_uploader_asset(company.media) : asset('images/company-default.png') }}"
                             alt="Article">
                        <div class="flex gap-x-5">
                            <h3 class="capitalize text-xl">{{ company.name }}
                            </h3>
                            <div class="bg-gray-300 rounded-full text-xs px-2 py-2 flex">
                                {# TODO set note from db #}
                                <p class="self-center">4.3</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>

        {# NAV #}
        <nav aria-label="Page navigation example" class="justify-self-end">
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <a href="#"
                       class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Previous</span>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                </li>
                <li>
                    <a href="#"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                       class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                </li>
                <li>
                    <a href="#"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                </li>
                <li>
                    <a href="#"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Next</span>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <nav>    {{ knp_pagination_render(pagination) }}</nav>
    </div>

{% endblock %}
