{% extends 'base_front.html.twig' %}

{% block body %}
    {{ include('components/corpseRecapReference.html.twig') }}

    <div class="grid place-content-center place-items-center">
        <h1 class="text-4xl m-3">Selection d'un thème</h1>

        {# CLASSIC THEMES #}
        <h1 class="border-b border-slate-700 text-center uppercase text-lg font-bold w-64 my-8">Classique</h1>

        <div class="flex flex-row flex-wrap gap-5 justify-center">
            {% if themesClassic %}
                {% for theme in themesClassic %}
                    {# CARD #}
                    <div class="w-72 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-698">
                        <img class="rounded-t-lg object-cover w-full h-40"
                             src="{{ theme.media ? vich_uploader_asset(theme.media) : 'https://picsum.photos/id/1/200/300' }}"
                             alt="">
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ theme.name }}</h5>
                            </a>
                            <ul class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                <li>{{ theme.description }}</li>
                            </ul>
                            <h3 class="px-2 text-sm text-gray-700 dark:text-gray-400">Price : {{ theme.price }}€</h3>

                            <a href="{{ path('user_order_theme', {corpse: corpse.id, theme: theme.id}) }}"

                               class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Selectionner
                                <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun thème disponible de type classique</p>
            {% endif %}
        </div>

        {# SPECIAL THEMES #}
        <h1 class="border-b border-slate-700 text-center uppercase text-lg font-bold w-64 my-8">Spéciales</h1>

        <div class="flex flex-row flex-wrap gap-5 justify-center">
            {% if themesClassic %}
                {% for theme in themesSpecial %}
                    {# CARD #}
                    <div class="w-72 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-698">
                        <a href="#">
                            <img class="rounded-t-lg object-cover w-full h-40"
                                 src="{{ theme.media ? vich_uploader_asset(theme.media) : 'https://picsum.photos/id/1/200/300' }} "
                                 alt="">
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ theme.name }}</h5>
                            </a>
                            <ul class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                {{ theme.description }}
                            </ul>
                            <h3 class="px-2 text-sm text-gray-700 dark:text-gray-400">Price : {{ theme.price }}€</h3>

                            <a href="{{ path('user_order_theme', {corpse: corpse.id, theme: theme.id}) }}"
                               class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Selectionner
                                <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun thème disponible de type spécial</p>
            {% endif %}

        </div>

    </div>
{% endblock %}
