{% extends 'base_front.html.twig' %}

{% block body %}

    {{ include('components/navBar.html.twig') }}

    <div class="container flex flex-row h-screen">

        {{ include('components/sideBarUserSettings.html.twig') }}




        <div class="flex-auto w-full mx-10 pt-20 mx-auto">
            <div class="p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="space-y-6" action="#">
                    {{ form_start(userAccountUpdateForm) }}
                        <img class="mx-auto mb-3 w-24 h-24 rounded-full shadow-lg" src="https://media-exp1.licdn.com/dms/image/C4D03AQHN-jN4rSXPrg/profile-displayphoto-shrink_200_200/0/1636452305928?e=1652918400&v=beta&t=D5KEZxC6G29FOKCZ-5R6tAiFj3XkndhPeJ5cLBK091A" alt="Bonnie image"/>

                        <div>
                            <label class="text-gray-700 dark:text-gray-200" for="username">Nom</label>
                            {{ form_widget(userAccountUpdateForm.lastname ,
                                {'attr':
                                    {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white' ,
                                        'value' :  app.user.lastname
                                    }
                                })
                            }}
                        </div>

                        <div>
                            <label class="text-gray-700 dark:text-gray-200" for="username">Prénom</label>
                            {{ form_widget(userAccountUpdateForm.firstname ,
                                {'attr':
                                    {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white' ,
                                        'value' :  app.user.firstname
                                    }
                                })
                            }}
                        </div>

                        <div>
                            <label class="text-gray-700 dark:text-gray-200" for="username">Date de naissance</label>
                            {{ form_widget(userAccountUpdateForm.birthdate ,
                                {'attr':
                                    {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'
                                    }
                                })
                            }}
                        </div>


                        <div>
                            <label class="text-gray-700 dark:text-gray-200" for="username">Email</label>
                            {{ form_widget(userAccountUpdateForm.email ,
                                {'attr':
                                    {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white' ,
                                        'value' :  app.user.email
                                    }
                                })
                            }}
                        </div>

                        <button type="submit" class="mt-3 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enregistrer les modifications</button>
                    {{ form_end(userAccountUpdateForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
