{% extends 'base_front.html.twig' %}

{% block body %}


    <div class="container flex flex-row h-100">
        {{ include('components/sideBarUserSettings.html.twig') }}
        <div class="flex flex-col w-full  pt-[4rem] mx-auto">
            {{ include('components/succesFlasheMessage.html.twig') }}

            {{ form_start(NewCreditCardForm) }}


            {% if not NewCreditCardForm.vars.valid %}
                <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 max-w-sm" role="alert">
                    <span class="font-medium">Eurreur!</span>
                    {{ form_errors(NewCreditCardForm) }}
                    {{ form_errors(NewCreditCardForm.number) }}
                    {{ form_errors(NewCreditCardForm.owner) }}
                    {{ form_errors(NewCreditCardForm.cvc) }}
                    {{ form_errors(NewCreditCardForm.expirationDate) }}
                </div>
            {% endif %}


            <h1 class="max-w-sm text-center mb-2 text-3xl font-bold text-gray-900 white:text-white pb-5 ">Ajouter une carte</h1>

            <!-- component -->
            <div class="max-w-sm bg-white flex justify-center">
                <div class="space-y-16">
                    <div class="w-96 h-60 m-auto bg-red-100 rounded-xl relative text-white shadow-2xl transition-transform transform ">
                        <img class="relative object-cover w-full h-full rounded-xl" src="https://i.imgur.com/kGkSg1v.png">
                            <div class="w-full px-8  absolute top-6">
                                <div class="flex justify-between">
                                    <div class="">
                                        <p class="font-light">Nom sur la carte</p>
                                        {{ form_widget(NewCreditCardForm.owner ,
                                            {'attr':
                                                {'class': 'bg-gray-50 border border-gray-300 text-gray-900 tracking-widest text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  white:bg-gray-600 white:border-gray-500 white:placeholder-gray-400 white:text-white' ,}
                                            }
                                        )}}
                                    </div>
                                    <svg class="mr-2 -ml-1 w-12 h-10" viewBox="0 0 660 203" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M233.003 199.762L266.362 4.002H319.72L286.336 199.762H233.003V199.762ZM479.113 8.222C468.544 4.256 451.978 0 431.292 0C378.566 0 341.429 26.551 341.111 64.604C340.814 92.733 367.626 108.426 387.865 117.789C408.636 127.387 415.617 133.505 415.517 142.072C415.384 155.195 398.931 161.187 383.593 161.187C362.238 161.187 350.892 158.22 333.368 150.914L326.49 147.803L319.003 191.625C331.466 197.092 354.511 201.824 378.441 202.07C434.531 202.07 470.943 175.822 471.357 135.185C471.556 112.915 457.341 95.97 426.556 81.997C407.906 72.941 396.484 66.898 396.605 57.728C396.605 49.591 406.273 40.89 427.165 40.89C444.611 40.619 457.253 44.424 467.101 48.39L471.882 50.649L479.113 8.222V8.222ZM616.423 3.99899H575.193C562.421 3.99899 552.861 7.485 547.253 20.233L468.008 199.633H524.039C524.039 199.633 533.198 175.512 535.27 170.215C541.393 170.215 595.825 170.299 603.606 170.299C605.202 177.153 610.098 199.633 610.098 199.633H659.61L616.423 3.993V3.99899ZM551.006 130.409C555.42 119.13 572.266 75.685 572.266 75.685C571.952 76.206 576.647 64.351 579.34 57.001L582.946 73.879C582.946 73.879 593.163 120.608 595.299 130.406H551.006V130.409V130.409ZM187.706 3.99899L135.467 137.499L129.902 110.37C120.176 79.096 89.8774 45.213 56.0044 28.25L103.771 199.45L160.226 199.387L244.23 3.99699L187.706 3.996" fill="#0E4595"/><path d="M86.723 3.99219H0.682003L0 8.06519C66.939 24.2692 111.23 63.4282 129.62 110.485L110.911 20.5252C107.682 8.12918 98.314 4.42918 86.725 3.99718" fill="#F2AE14"/></svg>
                                </div>

                                <div class="pt-3">
                                    <p class="font-light"> Numéro de carte</p>
                                    {{ form_widget(NewCreditCardForm.number ,
                                        {'attr':
                                            {'class': 'bg-gray-50 border border-gray-300 text-gray-900 tracking-widest text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full white:bg-gray-600 white:border-gray-500 white:placeholder-gray-400 white:text-white' ,}
                                        }
                                    )}}
                                </div>

                                <div class="pt-3 ">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light text-xs text-xs">Date d'expiration </p>
                                            {{ form_widget(NewCreditCardForm.expirationDate,
                                                {'attr':
                                                    {'class': 'max-w-[8rem] bg-gray-50 border border-gray-300 text-gray-900 tracking-wider text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block  white:bg-gray-600 white:border-gray-500 white:placeholder-gray-400 white:text-white' ,}
                                                }
                                            )}}
                                        </div>

                                        <div class="">
                                            <p class="font-light text-xs">Code CVV</p>
                                            {{ form_widget(NewCreditCardForm.cvc ,
                                                {'attr':
                                                    {'class': 'bg-gray-50 border border-gray-300 text-gray-900 tracking-wider text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block  white:bg-gray-600 white:border-gray-500 white:placeholder-gray-400 white:text-white' ,}
                                                }
                                            )}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <div class="max-w-sm text-center pt-5">
                            <button type="submit" class="w-100 text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-10 py-2.5 text-center mr-2 mb-2">Ajouter une carte</button>
                        </div>

                        {{ form_end(NewCreditCardForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
