{% extends 'base_front.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if currentOrder == true %}

        <section class="block rounded-lg bg-green-100 stroke shadow-md block w-[40rem] mx-auto mt-32">
            <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
                <h2 class="text-3xl font-semibold tracking-tight text-gray-700  ">
                    Vous avez une commande en cours de traitement !
                </h2>

                <div class="flex items-center mt-4 text-gray-700 flew-row w-full ml-64 pt-5">
                    <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g stroke-linecap="round" stroke-width="2" stroke="#000" fill="none">
                            <path d="M12 2a10 10 0 1 0 0 20 10 10 0 1 0 0-20Z"></path>
                            <path d="M8 9.05v-.1"></path>
                            <path d="M16 9.05v-.1"></path>
                            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 14c-.5 1.5-1.8 3-4 3 -2.21 0-3.5-1.5-4-3"></path>
                        </g>
                    </svg>
                    <p class="text-lg px-2">Pour:</p>
                    <p class="text-lg px-2">{{ currentOrder.possessor.firstName }} {{ currentOrder.possessor.lastName }}</p>
                </div>

                <div class="flex items-center mt-4 text-gray-700 flew-row w-full ml-64  ">
                    <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0Z"></path>
                        <path d="M14.65 4.98l-5-1.75c-.42-.15-.88-.15-1.3-.01L4.36 4.56C3.55 4.84 3 5.6 3 6.46v11.85c0 1.41 1.41 2.37 2.72 1.86l2.93-1.14c.22-.09.47-.09.69-.01l5 1.75c.42.15.88.15 1.3.01l3.99-1.34c.81-.27 1.36-1.04 1.36-1.9V5.69c0-1.41-1.41-2.37-2.72-1.86l-2.93 1.14c-.22.08-.46.09-.69.01ZM15 18.89l-6-2.11V5.11l6 2.11v11.67Z"></path>
                    </svg>
                    <p class="text-lg px-2">{{ address.number }} {{ address.street }} {{ address.postcode }} {{ address.city }}</p>
                </div>

                <div class="flex items-center mt-4 text-gray-700 flew-row w-full ml-64  ">
                    <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0Z"></path>
                        <path d="M22 11v2H9V7h9c2.21 0 4 1.79 4 4ZM2 14v2h6v2h8v-2h6v-2H2Zm5.14-1.9c1.16-1.19 1.14-3.08-.04-4.24 -1.19-1.16-3.08-1.14-4.24.04 -1.16 1.19-1.14 3.08.04 4.24 1.19 1.16 3.08 1.14 4.24-.04Z"></path>
                    </svg>
                    <p class="text-lg px-2">Nombre de corps:</p>
                    <p class="text-lg px-2">{{ currentOrder.corpses.count() }}</p>
                </div>

                <div class="mt-6 sm:-mx-2">
                    <div class="inline-flex w-full mt-4 sm:w-auto sm:mx-2 sm:mt-0">
                        <a href="{{ path('order_processing_corps' , {'order_id' : currentOrder.id}) }}"
                           class="inline-flex items-center justify-center w-full px-5 py-2 text-white transition-colors duration-150 transform bg-green-700 border border-gray-200 rounded-lg  focus:ring focus:ring-gray-200 focus:ring-opacity-80">
                            Je suis Arriver
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% else %}


        {% if orders is empty %}
            <section class="block rounded-lg bg-gray-50 stroke shadow-md block w-[40rem] mx-auto mt-32">
                <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
                    <h2 class="text-3xl font-semibold tracking-tight text-gray-700  ">
                        Il n'y a pas de commande à  <br> prendre en charge.
                    </h2>
                    <div class="mt-6 sm:-mx-2">
                        <div class="inline-flex w-full mt-4 sm:w-auto sm:mx-2 sm:mt-0">
                            <a href="{{ path('homepage') }}"
                               class="inline-flex items-center justify-center w-full px-5 py-2 text-gray-700 transition-colors duration-150 transform bg-white border border-gray-200 rounded-lg  focus:ring focus:ring-gray-200 focus:ring-opacity-80">
                                Retourner à l'accueil
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            {% for order in orders %}
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex justify-end px-4 pt-4">
                            <span class="text-sm text-gray-500 dark:text-gray-400">Nombre corps : {{ order.corpses.count() }}</span>
                        </div>
                        <div class="flex flex-col items-center pb-10">
                            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ order.possessor.lastname }} {{ order.possessor.firstname }}</h5>
                            <span class="text-sm text-gray-500 dark:text-gray-400"></span>
                            {% for addressOrder in order.addressOrders %}
                                {% set address = addressOrder.address %}
                                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ address.number }} {{ address.street }} {{ address.city }} {{ address.postcode }}</span>
                            {% endfor %}
                            <div class="flex mt-4 space-x-3 lg:mt-6">
                                <a href="{{ path('take_order', {'order_id': order.id}) }}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Take order</a>
                            </div>
                        </div>
                    </div>
                </tr>
            {% else %}
                <div class="example-wrapper">
            <section class="w-full max-w-2xl px-6 py-4 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
                <h2 class="text-3xl font-semibold text-center text-gray-800 dark:text-white">Validation de la déclaration du cadavre</h2>
                <h4 class="text-3xl font-semibold text-center dark:text-white">Commande de : {{ currentOrder.possessor.lastname }} {{ currentOrder.possessor.firstname }}</h4>
                <p class="mt-3 text-center text-gray-600 dark:text-gray-400">Nombre corps : {{ currentOrder.corpses.count() }}</p>

                <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-3">
                    <a href="#" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                        </svg>
                            {% for addressOrder in currentOrder.addressOrders %}
                                {% set address = addressOrder.address %}
                                <span class="mt-2">{{ address.number }} {{ address.street }} {{ address.city }}, {{ address.postcode }}</span>
                            {% endfor %}
                    </a>

                    <div href="#" class="flex flex-col items-center px-4 py-3 text-gray-700 dark:text-gray-200">
                        <img class="w-[10rem] object-fit rounded-xl aspect-square max-w-[10rem]"
                        src="{{ asset('images/contract.svg') }}">
                    </div>

                    <a href="#" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg>

                        <span class="mt-2">{{ currentOrder.possessor.email }}</span>
                    </a>
                </div>

                <div class="mt-6 ">
                    {% if currentOrder.status == 'DRIVER_ARRIVES' %}
                    <p class="font-semibold center dark:text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    {% endif %}
                </div>

                {% if currentOrder.status == 'DRIVER_ARRIVES' %}
                    <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-3">
                        <a href="{{ path('order_invalid', {order_id: currentOrder.id} ) }}">
                            <button type="button"
                                    class="text-white bg-red-400 hover:bg-red-500 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-red-900">
                                Refuser
                            </button>
                        </a>
                        <a href="{{ path('order_valid', {order_id: currentOrder.id} ) }}">
                            <button type="button"
                                    class="text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-green-900">
                                Accepter/Déclarer
                            </button>
                        </a>
                    </div>
                {% endif %}

                {% if currentOrder.status == 'DRIVER_ACCEPT' %}
                    <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-3">
                        <a href="{{ path('order_arrive_to_client', {order_id: currentOrder.id} ) }}">
                            <button type="button"
                                    class="text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-blue-900">
                                Arrivée chez le client
                            </button>
                        </a>
                    </div>
                {% endif %}
            </section>
        </div>
            {% endfor %}
        {% endif %}
    {% endif%}
</div>
{% endblock %}
