{% extends 'base_front.html.twig' %}

{% block body %}


    {#Affichage si le conducteur à pris un order#}
    {% if currentOrder == true %}
        <section class="block rounded-lg bg-red-100 stroke shadow-md block w-[40rem] mx-auto mt-32">
            <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
                <h2 class="text-3xl font-semibold tracking-tight text-gray-700  ">
                    Vous avez une commande en cours de traitement !
                </h2>

                <a href="{{ path('my_order' , {'id' : currentOrder.id}) }}" class="pt-6">
                    <button type="button" class="text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                        Retourner a ma commande
                    </button>
                </a>
            </div>
        </section>
    {% else %}
        {% if orders is not empty %}
        <section >
            {% for order in orders %}
                <div class=" rounded-lg bg-green-100 stroke shadow-md  py-12 mt-12 mx-12">
                    <div class="max-w-sm mx-12 overflow-hidden bg-white rounded-lg shadow-lg bg-gray-800">
                        <div class="flex items-center px-6 py-3 bg-gray-900">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g stroke-width="2" fill="none" stroke="#FFF">
                                    <path d="M12 2a5 5 0 1 0 0 10 5 5 0 1 0 0-10Z"></path>
                                    <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14h.35c1.51 0 2.78 1.12 2.97 2.62l.39 3.12c.14 1.19-.79 2.24-1.99 2.24H5.25c-1.21 0-2.14-1.06-1.99-2.25l.39-3.13c.18-1.51 1.46-2.63 2.97-2.63h.35"></path>
                                </g>
                            </svg>

                            <p class="mx-3 text-lg font-semibold text-white">Client</p>
                        </div>

                        <div class="px-6 py-4">
                            <h1 class="text-xl font-semibold text-gray-800 dark:text-white">{{ order.possessor.lastname }} {{ order.possessor.firstname }}</h1>

                            <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 11H10V13H14V11Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z"/>
                                </svg>

                                <p class="px-2 text-sm">Nombre corps : {{ order.corpses.count() }}</p>
                            </div>

                            <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z"/>
                                </svg>
                                {% for addressOrder in order.addressOrders %}
                                    {% set address = addressOrder.address %}
                                        <p class="px-2 text-sm">{{ address.number }} {{ address.street }} {{ address.city }} {{ address.postcode }}</p>
                                {% endfor %}
                            </div>
                            <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"/>
                                </svg>

                                <p class="px-2 text-sm">{{ order.possessor.email }}</p>
                            </div>
                            <div class="flex mt-4 space-x-3 lg:mt-6">
                                <a href="{{ path('take_order', {'order_id': order.id}) }}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Prendre la commande
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        {% else %}
            <section class="block rounded-lg bg-gray-50 stroke shadow-md block w-[40rem] mx-auto mt-32">
                <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
                    <h2 class="text-3xl font-semibold tracking-tight text-gray-700  ">
                        Il n'y à pas de commande <br><span class="underline decoration-sky-500"> disponible</span>.
                    </h2>

                    <div class="mt-6 sm:-mx-2">
                        <div class="inline-flex w-full sm:w-auto sm:mx-2">
                            <a  href="{{ path('homepage') }}"
                               class="inline-flex items-center justify-center w-full px-5 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M19 8v3H5.83l2.88-2.88c.39-.39.39-1.02 0-1.41 -.39-.39-1.02-.39-1.41 0L2.71 11.3c-.39.39-.39 1.02 0 1.41L7.3 17.3c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L5.83 13H20c.55 0 1-.45 1-1V8c0-.55-.45-1-1-1s-1 .45-1 1Z"></path>
                                </svg>
                                <p class="pl-2">Retour au menu</p>
                            </a>
                        </div>

                        <div class="inline-flex w-full mb-0 sm:w-auto sm:mx-2 sm:mt-0">
                            <a href="{{ path('driver_orders') }}"
                               class="inline-flex items-center justify-center w-full px-5 py-2 text-gray-700 transition-colors duration-150 transform bg-white border border-gray-200 rounded-lg  focus:ring focus:ring-gray-200 focus:ring-opacity-80">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path fill="none" d="M0 0h24v24H0V0Z"></path>
                                    <path d="M17.65 6.35c-1.63-1.63-3.94-2.57-6.48-2.31 -3.67.37-6.69 3.35-7.1 7.02C3.52 15.91 7.27 20 12 20c3.19 0 5.93-1.87 7.21-4.56 .32-.67-.16-1.44-.9-1.44 -.37 0-.72.2-.88.53 -1.13 2.43-3.84 3.97-6.8 3.31 -2.22-.49-4.01-2.3-4.48-4.52C5.31 9.44 8.26 6 12 6c1.66 0 3.14.69 4.22 1.78l-1.51 1.51c-.63.63-.19 1.71.7 1.71H19c.55 0 1-.45 1-1V6.41c0-.89-1.08-1.34-1.71-.71l-.64.65Z"></path>
                                </svg>
                                <p class="pl-2">Rafraichir la page</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif%}
{% endblock %}
