<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Page introuvable !
            {% endblock %}
        </title>

        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <script src="https://cdn.tailwindcss.com"></script>
            <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"/>
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <link rel="stylesheet" href="/css/orderService.css">
        {% endblock %}

        {% block javascripts %}{# {{ encore_entry_script_tags('app') }} #}
            <script src="{{ asset('js/orderService.js') }}" defer></script>
        {% endblock %}
    </head>

    <body class="min-h-screen">
        {{ include('components/navBar/navBar.html.twig') }}
        {# ALERTS  #}
        {% for message in app.flashes('failed') %}
            <div class="flex w-full  mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center justify-center w-12 bg-red-500">
                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"/>
                    </svg>
                </div>

                <div class="px-4 py-2 -mx-3">
                    <div class="mx-3">
                        <span class="font-semibold text-red-500 dark:text-red-400">
                            Erreur
                        </span>
                        <p class="text-sm text-gray-600 dark:text-gray-200">
                            {{ message }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="absolute m-auto left-0 right-0 bot-1">
                <div class="w-full flex max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
                    <div class="flex items-center justify-center w-12 bg-emerald-500">
                        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
                        </svg>
                    </div>

                    <div class="px-4 py-2 -mx-3">
                        <div class="mx-3">
                            <span class="font-semibold text-emerald-500 dark:text-emerald-400">
                                Bravo !
                            </span>
                            <p class="text-sm text-gray-600 dark:text-gray-200">
                                {{ message }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if errors is defined %}
            <ul>
                {% for error in errors %}
                    <li>
                        {{ error.message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block body %}
        {% endblock %}
    </body>
    {% block footer %}
        {{ include('/components/footer.html.twig') }}
    {% endblock %}

    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT8zrqoXpoFYJhvOEV1xvhuiewNSYiMbs&libraries=places&callback=initMap">
    </script>
</html>

