{% extends 'base_front.html.twig' %}

{% block body %}

    {% form_theme form 'form_table_layout.html.twig' %}

    <div
            class="{{ (order is not null and order.corpses.count > 0) ? "grid grid-cols-3 place-items-center p-14 gap-10" : "" }}">

        <div class="w-full max-w-lg p-6 place-self-end col-span-2 bg-white rounded-md shadow-md dark:bg-gray-800 my-8">
            <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white">Où se trouve vos corps ?</h1>

            <div class="flex items-center justify-center mt-4">
                <span class="w-1/4 border-b dark:border-gray-500"></span>
            </div>

            {{ form_start(form) }}

            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200" for="username">Ville</label>
                    {{ form_widget(form.city , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}

                    {{ form_errors(form.city) }}

                </div>

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Code postal</label>
                    {{ form_widget(form.postcode , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(form.postcode) }}

                </div>

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200">Numéro de l'adresse</label>
                    {{ form_widget(form.number , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(form.number) }}
                </div>

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200">Rue de l'adresse</label>
                    {{ form_widget(form.street , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(form.street) }}
                </div>
            </div>

            {# Submit button #}
            <button type="submit"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 mt-3">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Déclarer l'adresse
                </span>
            </button>
            {{ form_end(form) }}

            <div class="flex items-center justify-between mt-4">
                <span class="w-full border-b dark:border-gray-500"></span>
            </div>

        </div>

        {% if order is not null and order.corpses.count > 0 %}
            <section
                    class="h-fit w-full p-12 p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"
            >

                <h1 class="text-3xl font-bold text-gray-700 mb-6 underline decoration-blue-500">
                    Récapitulatif</h1>

                <h2 class="text-xl font-bold text-gray-700 mb-6"
                >Corp(s) déclaré(s)</h2>

                <div class="grid grid-cols-2 gap-x-5">
                    {% for corpse in order.corpses %}
                        <p>
                            <span class="uppercase"> {{ corpse.lastname }} </span>
                            {{ corpse.firstname }}
                        </p>
                    {% endfor %}

                </div>

                <h2 class="text-xl font-bold text-gray-700 mb-6"
                >Adresse de livraison</h2>

                {% if address is not null %}
                    <p>
                        {{ address.number }} {{ address.street }}<br>
                        {{ address.city }} {{ address.postcode }}
                    </p>
                {% else %}
                    <p class="font-italic">Aucune adresse définie</p>
                {% endif %}

                <p class="mt-5">
                    <span class="font-bold">Total</span> {{ priceOrder }} €</br>
                    <span class="font-bold">Total avec TVA</span> : {{ priceOrderTVA }} €
                </p>
            </section>
        {% endif %}
    </div>

{% endblock %}
