{% extends 'base_front.html.twig' %}

{% block body %}

    {% form_theme form 'form_table_layout.html.twig' %}

    <div
            class="{{ (order is not null and order.corpses.count > 0) ? "grid grid-cols-3 place-items-center p-14 gap-10" : "" }}">

        <div
                class=" {{ (order is not null and order.corpses.count > 0) ?
                "col-span-2 place-self-end w-full max-w-lg p-6 bg-white rounded-md shadow-md dark:bg-gray-800" :
                "w-full max-w-lg p-6 m-auto bg-white rounded-md shadow-md dark:bg-gray-800 my-12" }}"
        >
            <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white">Déclarer un corps</h1>

            <div class="flex items-center justify-center mt-4">
                <span class="w-1/4 border-b dark:border-gray-500"></span>
            </div>

            {% if editVersion is not defined %}
                {{ form_start(form, {'action': path('declare_corpse'), 'attr': {'autocomplete': 'off'} }) }}
            {% else %}
                {{ form_start(form, {'action': path('edit_corpse_declaration', {id: corpse.id}), 'attr': {'autocomplete': 'off'} }) }}
            {% endif %}

            <input name="corpseId" value="{{ corpse.id }}" type="hidden"/>

            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200" for="username">Prénom</label>
                    {{ form_widget(form.firstname , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}

                    {{ form_errors(form.firstname) }}

                </div>

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Nom</label>
                    {{ form_widget(form.lastname , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(form.lastname) }}

                </div>

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200">Date de naissance</label>
                    {{ form_widget(form.birthdate , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(form.birthdate) }}
                </div>

                <div class="text-gray-700 dark:text-gray-300">
                    <label class="text-gray-700 dark:text-gray-200">Sexe de la personne</label>
                    {{ form_widget(form.sex , {'attr':
                        {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                    {{ form_errors(form.sex) }}
                </div>
            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200">Sa taille (en mètre)</label>
                {{ form_widget(form.height , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring', 'placeholder' : 'ex: 1.75'}} ) }}
                {{ form_errors(form.height) }}
            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200" for="username">Son poids (en kg)</label>
                {{ form_widget(form.weight , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring', 'placeholder' : 'ex: 74.13'}} ) }}
                {{ form_errors(form.weight) }}
            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200" for="username">La date de sa mort</label>
                {{ form_widget(form.dayOfDeath , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                {{ form_errors(form.dayOfDeath) }}
            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200" for="username">La cause de sa mort</label>
                {{ form_widget(form.causeOfDeath , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                {{ form_errors(form.causeOfDeath) }}
            </div>

            <div class="pt-4">

                {# Submit button #}
                {% if editVersion is not defined %}

                    {% if nextCorpse %}
                        <button name="nextCorpse"
                                class=" py-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Étape suivante
                        </button>

                    {% else %}
                        <button name="finishExistantCorpse"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                value="true">
                            Enregistrer
                        </button>
                    {% endif %}

                    <button name="draftDeclaration"
                            class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                            value="true">
                        Enregistrer en tant que brouillon
                    </button>
                {% else %}
                    <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
                            value="true">
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Enregistrer
                        </span>
                    </button>
                {% endif %}

            </div>

            {{ form_end(form) }}

            <div class="flex items-center justify-between mt-4">
                <span class="w-full border-b dark:border-gray-500"></span>
            </div>

            {% if not nextCorpse and editVersion is not defined and order is not null and order.corpses|length >= 1 %}

                <div class="pt-4">
                    <a href="{{ path('declare_corpse_address') }}">
                        <button value="true"
                                class="py-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Passer à l'étape suivante
                        </button>
                    </a>
                </div>
            {% endif %}

        </div>

        {% if order is not null and order.corpses.count > 0 %}
            <section
                    class="h-fit w-full p-12 p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl"
            >

                <h1 class="text-3xl font-bold text-gray-700 mb-6 underline decoration-blue-500">
                    Récapitulatif</h1>

                <h2 class="text-xl font-bold text-gray-700 mb-6"
                >Corp(s) déclaré(s)</h2>

                <div class="grid grid-cols-2 gap-x-5">
                    {% for corpse in order.corpses %}
                        <p>
                            <span class="uppercase"> {{ corpse.lastname }} </span>
                            {{ corpse.firstname }}
                        </p>
                    {% endfor %}

                </div>

                <h2 class="text-xl font-bold text-gray-700 mb-6"
                >Adresse de livraison</h2>

                {% if address is not null %}
                    <p>
                        {{ address.number }} {{ address.street }}<br>
                        {{ address.city }} {{ address.postcode }}
                    </p>
                {% else %}
                    <p class="font-italic">Aucune adresse définie</p>
                {% endif %}

                <p class="mt-5">
                    <span class="font-bold">Total</span> {{ priceOrder }} €</br>
                    <span class="font-bold">Total avec TVA</span> : {{ priceOrderTVA }} €
                </p>
            </section>
        {% endif %}
    </div>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
{% endblock %}