{% extends 'base_front.html.twig' %}

{% block body %}

    {% form_theme form 'form_table_layout.html.twig' %}
    <div class="w-full max-w-lg p-6 m-auto bg-white rounded-md shadow-md dark:bg-gray-800 my-12">
        <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white">Déclarer un corps</h1>

        <div class="flex items-center justify-center mt-4">
            <span class="w-1/4 border-b dark:border-gray-500"></span>
        </div>
        <p class="dark:text-white"> {% if app.session.get('declareCorpses') != null %} Vous avez déjà déclaré(e) {{ app.session.get('declareCorpses')['corpses']|length }} cadavre(s) {% endif %}</p>

        {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}

        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200" for="username">Prénom</label>
                {{ form_widget(form.firstname , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}

                {{ form_errors(form.firstname) }}

            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Nom</label>
                {{ form_widget(form.lastname , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                {{ form_errors(form.lastname) }}

            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200">Date de naissance</label>
                {{ form_widget(form.birthdate , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                {{ form_errors(form.birthdate) }}
            </div>

            <div class="text-gray-700 dark:text-gray-300">
                <label class="text-gray-700 dark:text-gray-200">Sexe de la personne</label>
                {{ form_widget(form.sex , {'attr':
                    {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
                {{ form_errors(form.sex) }}
            </div>
        </div>

        <div class="text-gray-700 dark:text-gray-300">
            <label class="text-gray-700 dark:text-gray-200">Sa taille</label>
            {{ form_widget(form.height , {'attr':
                {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring', 'placeholder' : 'ex: 1.75'}} ) }}
            {{ form_errors(form.height) }}
        </div>

        <div class="text-gray-700 dark:text-gray-300">
            <label class="text-gray-700 dark:text-gray-200" for="username">Son poids</label>
            {{ form_widget(form.weight , {'attr':
                {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring', 'placeholder' : 'ex: 74.13'}} ) }}
            {{ form_errors(form.weight) }}
        </div>

        <div class="text-gray-700 dark:text-gray-300">
            <label class="text-gray-700 dark:text-gray-200" for="username">La date de sa mort</label>
            {{ form_widget(form.dayOfDeath , {'attr':
                {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
            {{ form_errors(form.dayOfDeath) }}
        </div>

        <div class="text-gray-700 dark:text-gray-300">
            <label class="text-gray-700 dark:text-gray-200" for="username">La cause de sa mort</label>
            {{ form_widget(form.causeOfDeath , {'attr':
                {'class': 'block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}} ) }}
            {{ form_errors(form.causeOfDeath) }}
        </div>

        {# Submit button #}
        pouet

        <div class="pt-4">
            <button name="multipleCorpses"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
      Ajouter un autre corps
  </span>
            </button>
            <button name="oneCorpse"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
      Étape suivante
  </span>
            </button>


        </div>

        {{ form_end(form) }}

        <div class="flex items-center justify-between mt-4">
            <span class="w-full border-b dark:border-gray-500"></span>
        </div>

    </div>


{% endblock %}
